@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: #121212;
  font-family: Roboto, sans-serif;
  font-size: 1.12vw;
  font-weight: 400;
  line-height: 130%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 1px; 
}

@media(max-width: 768px){
  .grid-container {
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: auto auto;
  gap: 1px; 
}

}

.wrapper-overflow_hidden {
  overflow: hidden;
}


h1{
  margin-bottom: 10px;
  font-weight: bold;
}

h1 {
  margin-top: 20px;
  font-size: 38px;
  line-height: 44px;
  font-size: 8.7vw;
  color: #121212;

}

.content.sticky-up_80px {
  position: -webkit-sticky;
  position: sticky;
  top: 5.56vw;
}

.grid-wrapper-left{

}

.grid-wrapper-right {
  
}

